.myMap {
    height: 100%;
}

.border-top {
    border-top: 1px solid black;
}

.title-extensions {
    padding-left: 50px; 
    height: 10px;
}

.panel-extensions {
    margin: 0;
    padding: 0;
}

.panel-extensions li {
    list-style: none;
    height: 40px;
    position: relative;
    width: 100%;
    margin: 10px 0;
}

.list-extensions {
    padding: 3px 0 0 60px;
    font-size: 1.2em;
    width: 400px;
    line-height: 3em;
}

.panel-extensions li button {
    border: none;
    background-color: white;
    text-align: left;
    padding: 3px 0 0 60px;
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.panel-extensions li button:hover {
    background-color: #ECECEC;
}

.panel-extensions li button:focus {
   outline:0;
}

.panel-extensions li button:active {
    background-color: #ECECEC;
 }

 .clearEextension {
    position: absolute;
    z-index: 99;
    right: 40px;
    top: 8px;
 }